[defaults]
inventory = inventories/lab/hosts.yml
roles_path = roles
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
